.titleName {
    margin-left: 10px;
    margin-bottom: 5px;
}
.profPic {
    display: block;
    box-sizing: border-box;
    border-radius: 8px;
    height: 220px;
    width: 150px;
    object-fit: cover;
    user-select: none;
}
.github {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(72, 41, 85);
}

.hoverPic {
    display: none;
    box-sizing: border-box;
    border-radius: 8px;
    height: 220px;
    width: 150px;
    object-fit: cover;
    user-select: none;
}

.container {
    display: block;
    box-sizing: border-box;
    border-radius: 8px;
    height: 220px;
    width: 150px;
    object-fit: cover;
}

.container:hover .profPic {
    display: none;
}

.container:hover .hoverPic {
    display: block;
}
